body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #000000;
}

body * {
  box-sizing: border-box;
  outline: 0;
}

body, #root {
  min-height: 100vh;
}

body, div {
  margin: 0;
  padding: 0;
}

header {
  display: block;
}

h1 {
  margin: 0px;
  font-size: 20px;
}
