@import '../../styles/variables.scss';

.MessageWrapper {
  display: flex;
  flex-direction: row;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.Message {
  flex: 0 1 80%;
  font-size: 15px;
  padding: 12px 20px;
  background-color: $white-color;
  border-radius: 8px;
  box-shadow: 0px 4px 7px 3px rgba(187, 187, 187, 0.15);
}

.Right {
  margin-left: auto;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
}

.User {
  flex: 1 1 50%;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

.Author {
  color: $link-color;
}

.Time {
  flex: 1 1 50%;
  text-align: right;
  color: $time-color;
}

.Text {
  padding-top: 10px;
}
