@import '../../styles/variables.scss';

.App {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Link {
  color: $azure-color;
}

.LoaderWrapper {
  margin: 0 auto;
  width: 100px;
  height: 100vh;
  text-align: center;
}