@import '../../styles/variables.scss';

$horizontal-padding: 15px;

.Room {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: $sidebar-width;
}

.ContentWrapper {
  display: block;
  position: absolute;
  top: $header-height;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $content-background;
}

.Content {
  display: block;
  height: calc(100% - 50px);
  width: 100%;
  padding: 10px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.InputBox {
  display: block;
  position: absolute;
  left: 0;
  right: 100px;
  bottom: 0;
  height: 50px;
  padding: 10px 20px;
  background-color: $input-background;
}

.Input {
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  outline: none;
  font-size: 14px;
  background-color: $input-background;
}

.Submit {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100px;
  padding: 0;
  color: white;
  line-height: $header-height;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  background-color: $success-color;
  user-select: none;
  border: 0;

  &:disabled {
    cursor: default;
    background-color: $success-color-disabled;
  }
}

.MenuContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  // padding: 0 15px;
  font-size: 18px;
  color: $header-color;
  background-color: $header-background;
}

.Menu {
  flex: 1 1 auto;
  padding-left: $horizontal-padding;
}

.MenuButton {
  flex: 0 0 auto;
  width: 50px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  color: #c5c5c5;
  > svg {
    vertical-align: middle;
  }
  &:hover {
    color: #ffffff;
    background-color: #b7acc9;
  }
}
