@import '../../styles/variables.scss';

$horizontal-padding: 15px;

.Sidebar {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: $sidebar-width;
  color: $header-color;
  background-color: $sidebar-background;
}

.LogoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  background-color: $sidebar-logo-background;
}

.Logo {
  flex: 0 1 auto;
  padding-left: $horizontal-padding;
  width: 200px;
}

.CreateRoom {
  flex: 0 0 auto;
  width: 50px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  color: #c5c5c5;
  &:hover {
    color: $snow-white-color;
    background-color: #b7acc9;
  }
}

.RoomContainer {
  overflow: hidden auto;
}

.RoomTile {
  display: flex;
  flex-direction: row;
  height: $header-height;
  width: 100%;
  line-height: $header-height;
  cursor: pointer;
  border-bottom: 1px solid #4c3d69;
  user-select: none;

  &:hover {
    background-color: #272546;
  }
}

.RoomTileActive {
  color: $snow-white-color;
  background-color: #272546;
  &:hover {
    cursor: default;
  }
}

.Room {
  flex: 0 1 auto;
  width: 200px;
  padding-left: $horizontal-padding;
}

.Count {
  position: relative;
  flex: 0 0 auto;
  width: 50px;
  font-size: 0.6em;
  text-align: center;

  &.Clickable {
    cursor: pointer;
    &:hover {
      background-color: #b7acc9;
    }
  }

  .Counter {
    padding: 3px 6px;
    color: $snow-white-color;
    background-color: #5e5c8e;
    border-radius: 4px;
  }
}
