$sidebar-width: 250px;
$header-height: 50px;

/* Background Colors */
$header-background: #5e5c8e;
$sidebar-background: #3A395B;
$content-background: #ddddf7;
$sidebar-logo-background: #2f2d52;
$room-hover-background: #37355A;
$message-background: #86A0F5;
$input-background: #f5f5f5;

/* Text Colors */
$header-color: #c9c9c9;
$time-color: #737373;

/* RGB */
$dark-color: rgba(1, 22, 39, 1);
$white-color: rgba(253, 255, 252, 1);
$snow-white-color: rgba(255, 255, 255, 1);
$azure-color: rgba(46, 196, 182, 1);
$danger-color: rgba(231, 29, 54, 1);
$warn-color: rgba(255, 159, 28, 1);
$success-color: rgb(46, 196, 139);
$success-color-disabled: #7cdeb9;
$link-color: #91b4e0;